*{
  margin:0;
  padding:0;
  font-size: 100%;
  font-weight: 300;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  text-decoration: none;
  list-style: none;
}

.main{width:100%; background:linear-gradient(to right,hsl(240, 98%, 19%),#0000ff);}

h1{color:#fff; font-size: 3em; text-align: center;}

.container{margin: 10px; display: flex; width: 100vw;}

.mapa{margin-right: .9rem;}

.formulario{
  background-color: rgba(175, 173, 173, 0.705); 
  display: flex; 
  height: 21.9rem;
}

/* REMOVER A BORDA AO SER CLICADO */
textarea:focus, input:focus {
  outline: 0;
} 
.input-field input, textarea {
  margin: 15px 20px 5px 20px; 
  width:36.5rem; 
}

.input-field input, textarea, .btn-enviar{
  padding: 10px;
  border: transparent;
  border-radius:10px ;
  box-shadow: .1rem .3rem .2rem #e4e4e4, -.1rem .3rem;
}

.btn-enviar{
  margin-top: 15px; 
  margin-left: 20px;
  background-color: #fff;
  cursor: pointer;
}


.btn-voltar{
  border:1px solid; 
  color:#020257; 
  padding:5px 10px; 
  border-radius: 20px; 
  float: right;
  margin:0 15px 10px;
}

.btn-voltar:focus{
  background-color: #0000ff;
  color:#e4e4e4;
}





/* FOOTER */
  /* usei o bg gradiente do btn-menu*/
  .rodape{width:100%; float:left; text-align: center; padding: 3% 4%; background:linear-gradient(to right,hsl(240, 98%, 19%),#0000ff);}
  .social-icons a{font-size:1.5em; color:rgba(255,255,255,0.7); margin-right:3%;}
    /* Tirando o margin-right  do último icone */
  .social-icons a:last-child{margin-right: 0;}
  .social-icons a:hover{color:rgb(255,255,255);}
  .copyright{margin-top: 2%; color:rgba(255,255,255,0.7);}