.container, .parag1, .parag2{
    margin: 20px 60px;
    font-size: 1.1rem;
    text-align: center;
}

.card{
    background-color: rgb(45, 147, 241);
    display: flex;
    text-align: center;
    margin-top: 30px;
}

.fotos{
    margin-top: 20px;   
}

.fotos p{
   margin-bottom: 20px; 
    text-align: center;
}

.logoCenter{
    margin-top: 5px;
}

.logoCenter img{
    border-radius: 30px;
}





/* SMALL DEVICES - SMARTPHONE */
@media screen and (min-width:450px){
    .container .parag1{
        margin-left:.5em; 
        margin-right: .5em; 
        text-align: justify; 
    }
        
    .card{
        display: inline-block;
    }

    .logoCenter img{
        width: 300px;
        height: 300px;
        margin:1em;
    }

    .fotos{margin-bottom: 1rem;}
}
  

/* SMALL DEVICES - TABLETS */
@media screen and (min-width:768px){
    .card{width: 100%;}   

    .fotos{
        width:49%;
        float:left; 
        margin-right:2%;
        margin-bottom: 1rem;
    }

    .logoCenter{
        margin-top: 2.5em;
    }
}



/*LARGE DEVICES - WIDE SCREENS */
@media screen and (min-width:1200px){
    /* GRID => Dividir a tela em 3 cards na horizontal */
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr  1fr;
    }

   .fotos{
        width: 320px ;
        margin-left:1.8em;
    }

    .logoCenter{
    margin-top:28px;
    } 
}
 

