.principal{
    margin: 1rem 2rem auto 3rem;
    position: fixed;
}

.principal img{
    width: 398px;
    height: 165px;
    border-radius: 30%;
    box-shadow: .1rem .3rem .2rem #e4e4e4, -.1rem .3rem;
}

.principal p{
    margin: 1rem auto 0;
    text-align: center;
    color: darkslategray;
}

.link-service{
    list-style: none;
    padding:20px;
}


nav li{
    background-color:#f5f5f5;
    padding:1rem 3rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: .1rem .3rem .2rem #e4e4e4, -.1rem .3rem;
}

nav li:hover{
    transition: 0.3s all;
    color:#e4e4e4;
    background:linear-gradient(to right,hsl(240, 98%, 19%),#0000ff);
    cursor: pointer;
}

.container{
    display: flex;
}

.tasks{
    margin:0 2rem auto 37.5%;
    text-align: center;
}

.tasks p{
    text-align: justify;
    margin-top: 1rem;
}

.task{
    background-color:#f5f5f5;
    margin-bottom: 1.5rem;
    padding:2rem;
}

.task img{
    width: 600px;
    height: 400px;
}

#marketing{
border-top-left-radius: 5%;
}

spam{
    color:#0606a0; 
}

i{
    text-transform: uppercase;
}
