.principal{
    margin: 1rem 2rem auto 3rem;
    position: fixed;
}

.principal img{
    width: 398px;
    height: 165px;
    border-radius: 30%;
    box-shadow: .1rem .3rem .2rem #e4e4e4, -.1rem .3rem;
}

.principal p{
    margin: 1rem auto 0;
    text-align: center;
    color: darkslategray;
}

.link-service{
    list-style: none;
    padding:20px;
}


nav li{
    background-color:#f5f5f5;
    padding:1rem 3rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: .1rem .3rem .2rem #e4e4e4, -.1rem .3rem;
}

nav li:hover{
    transition: 0.3s all;
    color:#e4e4e4;
    background:linear-gradient(to right,hsl(240, 98%, 19%),#0000ff);
    cursor: pointer;
}

.container{
    display: flex;
}

.tasks{
    margin:1.5rem 2rem auto 37.5%;
    text-align: center;
}

.tasks p{
    text-align: justify;
    margin-top: 1rem;
}

.task{
    background-color:#f5f5f5;
    margin-bottom: 1.5rem;
    padding:2rem;
}

.task img{
    width: 600px;
    height: 400px;
}

#marketing{
border-top-left-radius: 5%;
}

spam{
    color:#0606a0; 
}

i{
    text-transform: uppercase;
}



/* ========= MOBILE FIRST ========== */

/* SMALL DEVICES - SMARTPHONE */
@media screen and (min-width:460px){
    .principal{display: none;}
    .tasks{
        margin-left:1.5rem;
        margin-right: 1.5rem;
        text-align: center;
    }
    .task img{width:300px; height:200px}
    .task p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height:1.5rem; font-size: .9rem;
    }
}

/* SMALL DEVICES - TABLETS */
@media screen and (min-width:768px){

.task img{width:300px; height:200px}
.task p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:2rem; font-size: 1rem;
}

/* Dividir a tela em 2 cards na horizontal */
.tasks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1.5rem;
    }
    #plataformas{margin-top:-1.5rem;}
}
  

/*LARGE DEVICES - WIDE SCREENS */
@media screen and (min-width:1200px){
    .principal{display: inline;}
    .tasks{
        display: inline;
        margin-left:30rem;
        margin-right: 1.5rem;
        text-align: right;  

    }
    .task{height: 100vh;text-align: center}
    .task img{width:600px; height:300px;}
    .task p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height:2rem; font-size: 1.05rem;
    }   
    #plataformas{margin-top: 1.5rem;} 
    #marketing{border-radius:0;}
}
